.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(
        to right,
        rgba($primary-color, 0.3)
        rgba($primary-color, 0.3)
        ),
        url('../img/space_first.jpg') center center;
    background-size: cover;

    &__name {
        color: #fff;
        font-size: 4rem;
        padding-bottom: 0.5rem;
        margin-top: 0.5rem;
        border-bottom: 1.5px solid $tertiary-color;
    
        &--last {
            color: $tertiary-color;
            font-weight: 400;
        }
    }

    .social-icons {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }
}